.form-wrapper{
    text-align: center;
    padding-top: 30px;
    
}

.verification-form {
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(199, 198, 198);
    width: 600px;
    padding: 30px;
}