<div class="form-wrapper">
    <div class="verification-form">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" [(ngModel)]="userEmail">
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" style="margin: 5px;" (click)="onVerify()">Verify</button>
        <button mat-raised-button color="accent" style="margin: 5px;" (click)="onReverify()">Resend Verification Mail</button>
    </div>
</div>