<div class="user-info">
    <div style="display: inline-block;">
        <img src={{imgLink}} style="float: right; margin-left: 10px;">
        <p style="float: left; margin-right: 5px; font-size: 1.5em;">Username: </p>
        <p style="float: left; font-size: 1.5em;">{{ currentUser.username }}</p>
    </div>
    <p style="font-size: 1em; margin-top: -25px; color: #ff4081">{{ currentUser.title }}</p>
    <h5 style="margin-top: 50px;">Score: {{ currentUser.score }}</h5>
    <h5>Email: {{ currentUser.email }}</h5>
</div>