<div>
    <h6 mat-dialog-title>
        Unfortunately, either 30 seconds has passed before you submit your answer or your answer is wrong
    </h6>
    <div mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="onGetRightAnswer()">Get The Right Answer</button>
        <button mat-raised-button color="accent" (click)="onContinuePlaying()">Continue Playing</button>
        <button mat-raised-button color="accent" (click)="onCheckGameHistory()">Check My Game History</button>
        <button mat-raised-button color="accent" (click)="onStopPlaying()">Stop Playing</button>
    </div>
</div>