<div>
    <h1 class="homepage-header">Czech Word Game</h1>
    <div class="homepage-footer">
        <p>Developer's notes: </p>
        <p>- Although the game is called czech word game, it has a czech version and an english version, but I called it "Czech Word Game", because I ran out of names.</p>
        <p>- The design - if I am allowed to call this a design - is primitive, because it's not the main focus of this practicing project and the purpose of deploying this is for the functionality to be tested by people who will give me useful feedbacks to improve my code. This feedback will be provided either by developers who will look at my codebase or users who will test the functionality from a usual user's perspective</p>
        <p>The titling system goes as follows:</p>
        <li>Absolute Beginner: 0 - 250</li>
        <li>Beginner: 250 - 500</li>
        <li>Absolute Amateur: 500 - 1000</li>
        <li>Amateur: 1000 - 1500</li>
        <li>Semi-Professional: 1500 - 2250</li>
        <li>Professional: 2250 - 3250</li>
        <li>Absolute Professional: 3250 - 4500</li>
        <li>Semi-Legend: 4500 - 6000</li>
        <li>Legend: 6000 - 7500</li>
        <li>Absolute Legend: 7500 - 10000</li>
        <li>IMMORTAL LEGEND!: 10000 - ~</li>
        <p>P.S: You get 20 points for each word</p>
        <p style="color: #ff4081">Made By: Basem Mostafa</p>
    </div>
</div>