<div>
    <h1 class="homepage-header">Czech Word Game</h1>
    <div class="homepage-footer">
        <p>Made By: Basem Mostafa</p>
        <p>Developer's notes: </p>
        <p>- Although the game is called czech word game, it has a czech version and an english version, but I called it "Czech Word Game", because I ran out of names.</p>
        <p>- The design - if I am allowed to call this a design - is primitive, because it's not the main focus of this practicing project and the purpose of deploying this is for the functionality to be tested by people who will give me useful feedbacks to improve my code. This feedback will be provided either by developers who will look at my codebase or users who will test the functionality from a usual user's perspective</p>
    </div>
</div>